.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.footer-container {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 106px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-text {
  color: var(--dl-color-backgrounds-whitesmoke);
  max-width: 350px;
  margin-bottom: 60px;
}
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  color: var(--dl-color-backgrounds-whitesmoke);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon:hover {
  fill: var(--dl-color-backgrounds-pearl);
  cursor: pointer;
}
.footer-link1 {
  display: contents;
}
.footer-icon04 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon04:hover {
  fill: var(--dl-color-backgrounds-pearl);
  cursor: pointer;
}
.footer-link2 {
  display: contents;
}
.footer-icon08 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon08:hover {
  fill: var(--dl-color-backgrounds-pearl);
  cursor: pointer;
}
.footer-links {
  flex: 0 0 auto;
  width: 189px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navigation {
  color: var(--dl-color-backgrounds-whitesmoke);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-home {
  color: var(--dl-color-backgrounds-whitesmoke);
  text-decoration: none;
}
.footer-our-story {
  color: var(--dl-color-backgrounds-whitesmoke);
  text-decoration: none;
}
.footer-product {
  color: var(--dl-color-backgrounds-whitesmoke);
  text-decoration: none;
}
.footer-contact {
  color: var(--dl-color-backgrounds-whitesmoke);
  text-decoration: none;
}
.footer-root-class-name {
  background-color: var(--dl-color-backgrounds-lightsladegray);
}




@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-container2 {
    width: 193px;
    display: none;
  }
}
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-navigation {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
