.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 106px;
}
.navbar-nav {
  display: flex;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  background-color: var(--dl-color-backgrounds-maastrichblue);
}

@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
  .navbar-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .navbar-mobile-menu {
    background-color: var(--dl-color-backgrounds-pearl);
  }
  .navbar-primary-btn {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
